@page "/fetchdata"
@using MySiteInBlazor.Data
@inject WeatherForecastService ForecastService

<PageTitle>EXPERTISE</PageTitle>
<div class="first">
    <div class="five">
        <h2>Expertise</h2>
        <p>I can fly!</p>
    </div>
    
    <div class="grid">
        <div class="grid1">
            <h3>ADVANCED CSS</h3>
            <p>Bla bla bla bla</p>
        </div>
        <div class="grid2">
            <h3>FONT-END DESIGN</h3>
            <p>Bla bla bla bla</p>
        </div>
        <div class="grid3">
            <h3>RUBY ON RAILS</h3>
            <p>Bla bla bla bla</p>
        </div>
        <div class="grid4">
            <h3>OBJECT-ORIENTED PHP</h3>
            <p>Bla bla bla bla</p>
        </div>
    </div>
</div>