@page "/"

<PageTitle>About Me</PageTitle>

<div class="first">
<div class="one">
    <img class="photo" src="Image/img1.jpg">
</div>

<div class="two">
    <span class="name">aleksandr</span>
    <span class="surname">KUVSHINOV</span>
    <span class="info">Web Developer</span>

    <div class="social">
        <span class="socialF socBut"></span>
        <span class="socialV socBut"></span>
        <span class="socialT socBut"></span>
    </div>

    <div class="line">
    </div>

    <div class="loc">
        <span class="locLoc locInf">Location</span>
        <span class="locInf">Phone</span>
        <span class="locInf">Web</span>
        <span class="locInf">Email</span>
    </div>
    <div class="loc2">
        <span class="locCountry locFact">Russia</span>
        <span class="locNumber locFact">+7777777</span>
        <span class="locWeb locFact">test.com</span>
        <span class="locEmail locFact">test@gmail.com</span>
    </div>
</div>
</div>